{% extends "base.html" %}
{% block title %}Registrati{% endblock %}
{% block signup_active %}active{% endblock %}

{% block content %}
    <a href="/">Torna indietro</a>
    <div class="col-4 offset-md-4 bg-light p-4 border rounded">
        <form action="/signup" method="POST">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="surnameInput" class="form-label">Cognome</label>
                <input type="text" class="form-control" name="cognome" id="surnameInput">
            </div>
            <div class="mb-3">
                <label for="emailInput" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="emailInput">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="passwordInput">
                <div id="passwordHelp" class="form-text">We'll never share your password with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary">Registrati</button>
        </form>
    </div>
{% endblock %}