<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Cool Social Network</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header id="myheader">
    <nav class="navbar navbar-dark navbar-expand-lg mynavbar">
      <div class="container-fluid">
        <h1 class="display-5">My Cool Social Network</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal"
                data-bs-target="#authModal">Benvenuto, @alberto!</a>
            </li>
          </ul>

          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">Chi siamo</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </header>
  <div class="container-fluid mt-4">
    <div class="row">
      <aside id="myaside" class="col-lg-3 col-md-12">
        <ul>
          <li>
            <a class="link-primary" href="#">Oggi</a>
          </li>
          <li>
            <a class="link-primary" href="#">Questa settimana</a>
          </li>
          <li>
            <a class="link-primary" href="#">Questo mese</a>
          </li>
        </ul>
      </aside>
      <div class="col-lg-9 col-md-12">
        {% for post in posts %}
        <article class="row border p-2 mx-2 my-4">
          <div class="col-lg-3 col-md-6 col-sm-12 px-0">
            <img class="w-100 p-2" src="{{ url_for('static', filename=post.img) }}" alt="...">
          </div>
          <div class="col-lg-9 col-md-6 col-sm-12">
            <section class="d-flex align-items-center mt-2 mb-4">
              <div><img class="usrimg rounded-circle" src="{{ url_for('static', filename= post.usrimg ) }}"
                  alt="Questa è l'immagine dell'utente {{ post.usrname |e }}"></div>
              <div>
                <h4 class="username">{{ post.usrname |e }}</h4>
              </div>
              <div class="flex-grow-1 text-end">
                <p>{{ post.date |e }}</p>
              </div>
            </section>
            <p>{{ post.post |e }}</p>
          </div>
        </article>
        {% endfor %}
      </div>
      <button type="button" class="btn btn-lg mybutton" data-bs-toggle="modal" data-bs-target="#inputModal">+</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Dimmi chi sei!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <select class="form-select" id="groups" name="groups">
                <option>@luigi</option>
                <option selected>@alberto</option>
                <option>@juan</option>
              </select>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <button type="button" class="btn btn-primary">Salva</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="inputModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crea un nuovo Post!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                value="@alberto" disabled="true">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Cosa c'è di nuovo?</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Inserisci un testo per il tuo post"></textarea>
            </div>

            <div class="mb-3">
              <label for="formFile" class="form-label">Aggiungi un'immagine, se vuoi!</label>
              <input class="form-control" type="file" id="formFile">
            </div>

            <div class="mb-3">
              <label for="startDate">Seleziona una data</label>
              <input id="startDate" class="form-control" type="date" />
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-primary">Crea Post</button>
        </div>
      </div>
    </div>
  </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>